<script src="/js/js.js"></script>
<footer>
    <nav>
        <ul>
            <li><a href="/matches"><img id="matches" src="/images/heart.svg" alt="matches"></a></li>
            <li><a href="/"><img src="/images/cinema.png" alt="swipen"></a></li>
            <li><a href="/"><img id="user" src="/images/user_shadow.png" alt="profiel"></a></li>
        </ul>
    </nav>
</footer> 