<script src="/js/js.js"></script>
<footer>
    <nav>
        <ul>
            <li><a href="/matches"><img src="/images/chat.svg" alt="matches"></a></li>
            <li><a href="/"><img src="/images/cinema.svg" alt="swipen"></a></li>
            <li><a href="/profiel"><img src="/images/user.svg" alt="profiel"></a></li>
        </ul>
    </nav>
</footer> 