<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/matches">Matches</a></li>
            <li><a href="/series">Series</a></li>
        </ul>
    </nav>
</header>