*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #fdfdfd;
    min-height: 100vh;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
    padding: 3.5em 0 3em 0;
}

body.matchingPage {
    padding: .5em .5em 0 .5em;
}

/* Header Styling */

header {
    background: linear-gradient(to bottom right, #6eeff8, #00b3c0);
    position: fixed;
    top: 0;
    width: 100%;
}

header ul {
    padding: .8em 0;
}

header li {
    align-items: center;
    display: flex;
    justify-content: center;
}

header li p {
    font-family: 'Josefin Sans', sans-serif;
    color: #ffffff;
    font-size: 1.2em;
}

header li img{
    width: 2em;
}

/* Hier staat alle style voor de user profielen */
.swipe_page {
    position: relative;
    max-width: 100%;
    height: 100vh;
    overflow: hidden;
}

section.likesOp {
    width: 100%;
    height: 90vh;
    background-color: #e6e6e6;
    position: absolute;
    background-size: cover;
    background-position: right;
    border-radius: .5em;
}

section.likesOp h2 {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    color: #bbb;
}

section.userPf {
    width: 100%;
    height: 90vh;
    background-image: url('../images/undercover.jpg');
    position: absolute;
    background-size: cover;
    background-position: center;
    border-radius: .5em;
}

section.userPf .dislike, section.userPf .like {
    padding: 1em;
    border: 0;
    position: absolute;
    bottom: 15em;
    border-radius: 90%;
}

section.userPf .dislike {
    background: rgb(146, 0, 0);
    left: 3em
}

section.userPf .like {
    background: #159c15;
    right: 3em;
}

section.userPf button img {
    width: 2.5em;
}

.cover-picture {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.userInfo {
    background: rgba(255, 255, 255, 0.9);
    padding: 1em;
    position: absolute;
    bottom: 0;
    border-radius: 1em 1em 0 0;
    width: 100%;
}

.userInfo button {
    display: block;
    margin: 0 auto;
    background: transparent;
    border: 0; 
}

h2, h3 {
    font-family: 'Josefin Sans', sans-serif;
}

h2 {
    font-size: 24px;
}

section h3 {
    font-size: 18px;
    margin-bottom: 2px;
    color: #00b3c0;
    margin-left: .3em;
    text-align: right;
}

section .overUser {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}    

.overUser p {
    flex-basis: 100%;
}

/* info over de series in de userPf */

.cover {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
}

.userInfo figure img {
    width: 65px;
}

/* Hier begint de stijl voor de MATCH pagina */

.match_page section {
    padding: .5em;
}

.match_page section ul {
    display: flex;
    margin: .5em 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: .5em 0;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    
}

.match_page ul li img {
    width: 40vw;
    height: 60vw;
    object-fit: cover; /* zorgt ervoor dat de image niet strecht */
}

.match_page ul li p {
    text-align: center;
    margin: 0 0 1em 0;
}

/* Hier begint de footer/menu balk */

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom right, #6eeff8, #00b3c0);
}

footer ul {
    display: flex;
    justify-content: space-around;
    padding: .8em;
    position:relative;
}

footer li:nth-of-type(2) {
    position: absolute;
    padding: 1em;
    background-color: #fff;
    border-radius: 90%;
    box-shadow: 0px 0px 6px #aaa;
    bottom: .5em;
}

footer li:nth-of-type(2) img{
    width: 3em;
}

footer li:nth-of-type(1) {
    margin-left: -2em;
}

footer li:nth-of-type(3) {
    margin-right: -2em;;
}

footer ul li img {
    width: 2em;
}

/* Algemene stijl voor listitems */
ul {
    list-style-type: none;
}

/* Hier staat alles voor de animaties */

.right {
    animation-name: toright;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.left {
    animation-name: toleft;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes toleft {
    from {left:0}
    to {left:-120%}
}

@keyframes toright {
    from {right:0}
    to {right:-120%}
}