*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #fdfdfd;
    min-height: 100vh;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
}

/* Header Styling */

header {
    background: linear-gradient(to bottom right, #6eeff8, #00b3c0);
}

header ul {
    padding: .8em 0;
}

header li {
    align-items: center;
    display: flex;
    justify-content: center;
}

header li p {
    font-family: 'Josefin Sans', sans-serif;
    color: #ffffff;
    font-size: 1.2em;
}

header li img{
    width: 2em;
}

/* Hier staat alle style voor de user profielen */
.swipe_page {
    position: relative;
    max-width: 100%;
    height: 100vh;
    padding: .5em;
    overflow: hidden;
}

section.likesOp {
    width: 96%;
    height: 90vh;
    background-color: #e6e6e6;
    position: absolute;
    background-size: cover;
    background-position: right;
    border-radius: .5em;
}

section.likesOp h2 {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    color: #bbb;
}

section.userPf {
    width: 96%;
    height: 90vh;
    background-image: url('../images/undercover.jpg');
    position: absolute;
    background-size: cover;
    background-position: center;
    border-radius: .5em;
}

section.userPf .dislike, section.userPf .like {
    padding: 1em;
    border: 0;
    position: absolute;
    bottom: 15em;
    border-radius: 90%;
}

section.userPf .dislike {
    background: rgb(146, 0, 0);
    left: 3em
}

section.userPf .like {
    background: #159c15;
    right: 3em;
}

section.userPf button img {
    width: 2.5em;
}

.userInfo {
    background: rgba(255, 255, 255, 0.9);
    padding: 1em;
    position: absolute;
    bottom: 0;
    border-radius: 1em 1em 0 0;
    width: 100%;
}

.userInfo button {
    display: block;
    margin: 0 auto;
    background: transparent;
    border: 0; 
}

h2, h3 {
    font-family: 'Josefin Sans', sans-serif;
}

h2 {
    font-size: 24px;
}

section h3 {
    font-size: 18px;
    margin-bottom: 2px;
    color: #00b3c0;
    margin-left: .3em;
    text-align: right;
}

section .overUser {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}    

.overUser p {
    flex-basis: 100%;
}

/* info over de series in de userPf */

.cover {
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
}

.userInfo figure img {
    width: 65px;
}

/* Hier begint de stijl voor de MATCH pagina */

.match_page section {
    padding: .5em;
}

.match_page section:nth-of-type(1) ul {
    display: flex;
    margin: .5em 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: .5em 0;
}

.match_page section:nth-of-type(1) ul li+li {
    margin-left: .5em;
}

.match_page ul li img {
    width: 3.5em;
    border-radius: 90%;
    border: 3px solid #00b3c0;
}

/* Chats */

.match_page section:nth-of-type(2) {
    padding: 0
}

.match_page section:nth-of-type(2) h3 {
    padding: 0 .5em;
}

.match_page section:nth-of-type(2) ul {
    margin-top: .5em;
}

.match_page section:nth-of-type(2) ul li {
    padding: 1em .5em;
    display: flex;
}

.match_page section:nth-of-type(2) ul li:nth-of-type(1) {
    background: #f5f5f5;
}

.match_page section:nth-of-type(2) ul li:nth-of-type(2n) {
    background: #fcfcfc;
}

.match_page section:nth-of-type(2) ul li div {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.match_page section:nth-of-type(2) img {
    margin-right: 1em;
}

.chat_text {
    color: #666666;
}

/* Hier begint de footer */

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom right, #6eeff8, #00b3c0);
}

footer ul {
    display: flex;
    justify-content: space-around;
    padding: .8em;
    position:relative;
}

footer li:nth-of-type(2) {
    position: absolute;
    padding: 1em;
    background-color: #fff;
    border-radius: 90%;
    box-shadow: 0px 0px 6px #aaa;
    bottom: .5em;
}

footer li:nth-of-type(2) img{
    width: 3em;
}

footer li:nth-of-type(1) {
    margin-left: -2em;
}

footer li:nth-of-type(3) {
    margin-right: -2em;;
}

footer ul li img {
    width: 2em;
}

/* Algemene stijl voor listitems */
ul {
    list-style-type: none;
}

/* Dit is de styling voor wanneer er een match is! */

.eenMatch {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9;
    color: #fff;
}

.eenMatch img {
    width: 7em;
    border-radius: 90%;
    border: 3px solid #00b3c0;
}

.eenMatch .close {
    position: absolute;
    top: 1em;
    right: 1em;
    transition: .5s;
    background: transparent;
    border: none;
    font-size: 2em;
    color: #fff;
}

.eenMatch img {
    position: absolute;
    top: 43%;
    transform: translateY(-50%);
}

.eenMatch img:nth-of-type(1) {
    left: 20%;
}

.eenMatch img:nth-of-type(2) {
    right: 20%;
}

.eenMatch h2 {
    position: absolute;
    top: 63%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}

.displayNone {
    display: none;
}

/* Hier staat alles voor de animaties */

.right {
    animation-name: toright;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.left {
    animation-name: toleft;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.rolNaarRechts {
    animation-name: rolRechts;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.rolNaarLinks {
    animation-name: rolLinks;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes toleft {
    from {left:0}
    to {left:-120%}
}

@keyframes toright {
    from {right:0}
    to {right:-120%}
}

@keyframes rolRechts {
    from {
        left:-120%;
        transform: rotate(-720deg)
    }
    to {
        left: 20%;
        transform: rotate(0deg)
    }
}

@keyframes rolLinks {
    from {
        right:-120%;
        transform: rotate(720deg)
    }
    to {
        right: 20%;
        transform: rotate(0deg)
    }
}